<nav class="grey lighten-4">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo black-text">Post-it</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li routerLinkActive="active"><a class="black-text"
                    routerLink="/posts">Αγγελίες</a>
            </li>
            <li routerLinkActive="active"><a class="black-text" routerLink="/analytics">Ενέργειες</a>
            </li>
            <li routerLinkActive="active"><a class="black-text" routerLink="/comments">Καταγραφή
                    Βελτιώσεων/Λαθών</a>
            </li>
        </ul>
    </div>
</nav>