<nav class="grey lighten-4">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo black-text hide-on-med-and-down">Post-it</a>
        <ul class="right">
            <li routerLinkActive="active"><a class="black-text"
                    routerLink="/posts">Αγγελίες</a>
            </li>
            <li routerLinkActive="active"><a class="black-text" routerLink="/analytics">Διαχείριση</a>
            </li>
            <li routerLinkActive="active"><a class="black-text" routerLink="/comments">Βελτιώσεις</a>
            </li>
        </ul>
    </div>
</nav>