/* .card-panel {
  max-width: 20rem;
  max-height: 20rem;
  min-width: 20rem;
  min-height: 20rem;
  position: relative;
} */

.card {
    max-width: 22rem;
    max-height: 20rem;
    min-width: 22rem;
    min-height: 20rem;
    position: relative;
    margin: auto;
  }
  
  .card-content {
    max-width: 22rem;
    max-height: 15rem;
    min-width: 22rem;
    min-height: 15rem;
    position: relative;
    overflow-y:scroll;
  }
  
  .mat-form-field {
    margin: 1rem;
  }
  
  .card-action {
    min-height: 10%!important;
    padding: 0px 0px 10px 0px!important;
    margin: 0px!important;
  }
  
  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 33.3%!important;
    min-height: 0px!important;
    padding: 0px!important;
    margin: 0px!important;
   }
  
   .main-section {
    min-height: 55rem!important;
    padding-bottom: 0;
  }
  
  .bottom-margin {
    margin-bottom: 50%;
  }
  
  .align-center {
    vertical-align: center;
    height: 3rem;
  }
  
  
  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-bottom: none;
  border-radius: 0;
  outline: none;
  height: 1.1rem;
  width: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
  }
  
  input:not([type]):focus:not([readonly]),
  input[type=text]:focus:not([readonly]),
  input[type=password]:focus:not([readonly]),
  input[type=email]:focus:not([readonly]),
  input[type=url]:focus:not([readonly]),
  input[type=time]:focus:not([readonly]),
  input[type=date]:focus:not([readonly]),
  input[type=datetime]:focus:not([readonly]),
  input[type=datetime-local]:focus:not([readonly]),
  input[type=tel]:focus:not([readonly]),
  input[type=number]:focus:not([readonly]),
  input[type=search]:focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #f00;
  box-shadow: 0 1px 0 0 #f00;
  border-bottom: none;
  box-shadow: none;
  }
  
  ::ng-deep .mat-form-field{
    width:100% !important;
    padding-right: 2rem !important;
  }
  
  mat-expansion-panel {
    /* background-color: #f1f8e9 !important; */
  }
  
  mat-panel-description {
    justify-content: center !important;
    padding-top: 1rem !important;
    padding-bottom: -6rem !important;
  }
  
  .scrollButton{
    position:fixed; 
    bottom: 0;
    width: 100%;
    margin: 0;
  }
  
  .sticky {
    position: fixed; 
    bottom: 10px;
    right: 5rem;
    margin: 0;
    font-size: 36px;
   }